

.heading{
   display: flex;
   justify-content: space-between;
   margin: 10px;
   border: 1px solid greenyellow;
}

.logo{
    width: 200px;
}

.nav-items {
    padding: 10px;
    font-size: medium;
}

.nav-items > ul {   
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items >ul > li {
    padding: 10px; 
    margin: 10px;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* 
.body {
    border: 1px solid gray;

} */

.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-logo{
    padding: 5px;
    width: 100%;
}

.res-card{
    
    border-radius: 2px;
    height: 400px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color:#f0f0f0;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid rgb(100, 97, 97);

}

.filter-btn{
    /* padding: 5px; */
    margin-left: 5px;
    cursor: pointer;
    background-color: lightgreen;
    justify-content: end;
}
/* 
.search{
    margin-top: 10px;
    padding: 10px;
} */

.footer {
    margin-top: 15px;
    display: flex;
    height: 100px;
    border: 1px solid brown;
}


.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gold;
}

.shimmer-card{
    border-radius: 2px;
    height: 400px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color:#f0f0f0;
}


.login-button {
    margin-top: 20px;
    cursor: pointer;
}
/* 
.search-bar {
   border:1px;
   border-radius: 0.5px;
  
} */

.search-btn{
    margin-left: 10px;
    cursor: pointer;
}

.filter{
    display: flex;
    margin-bottom: 10px;
}


.user-card{
    cursor: pointer;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: whitesmoke;
    padding: 5px;
    margin: 20px;
    justify-content: center;

}